*{
  padding: 0;
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
box-sizing: border-box;
}

body{
  font-size: 15px;
  max-height: 100vh;
  line-height: 2rem;
  padding: 60px 20px;
  background-color: #FAFAFA;
}
h5{
  color: rgba(0, 0, 0, 0.234);
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;

}
.title{
  display: flex;
 
  justify-self: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}
.cards-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 40px;


}
.cards{
  padding: 20px;

  border-radius: 6px;
  flex-direction: column;
  transition: bacakground-color 0.8 ease;
  box-shadow: 0px 6px 4pxvar(hsl(290, 2%, 49%)) ;
  background-color: #FFFFFF;
}
.cards:hover{
  background-color: hsl(234,12%, 34%);
}
.title>h5{
  text-align: center;
  font-family:'poppins',sans-serif;
}
.title h1,title.p{
  font-size: larger;
  text-align: center;
}
.c1{
  display: flex;
  grid-row: 1/3;
  align-items: center;
  justify-content: center;
}
.c3{
  display: flex;
  grid-area: 1/3/3/4;
  align-items: center;
  justify-content: center;
}
.c2 .cards{
  border-top: 4px solid #BD5959;
}
.c1 .cards{
  border-top: 4px solid #C3F2F6;
}
.c3 .cards{
  border-top: 4px solid #FDCD79;
}
.c4 .cards{
  border-top: 4px solid #5C8FBA;
}
.cards img{
  height: 50px;
  width: 50px;
  margin-top: 40px;
  align-self: flex-end;


}